.footer-div{
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 25px 0 25px 0;
    text-align: center;
    background: rgb(111,111,111);
    background: linear-gradient(180deg, rgba(111,111,111,1) 0%, rgba(105,105,105,1) 50%, rgba(68,68,68,1) 100%);
}

.footer-title{
    margin: auto;
    width: 30%;
}

.footer-title p{
    font-size: 20px;
}

.footer-title h1{
    font-weight: 900;
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.icons-row{
    margin-top: 30px ;
    display: flex;
    justify-content: center;
    gap: 60px;

}

.circle{
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.822);
    border-radius: 250px;
    padding-top: 11px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    color: #fff;
}

.icon-footer{
    transform: scale(1.5);
}

.circle:hover{
    color: rgb(111,111,111);
    background: #fff;
}

.copy{
    padding-top: 35px;
}


